
body {
  margin: 0;
}

// ========================================

$bg-color: #ffffff;
$text-color: #7c7c7c;
$text-impotant: #363636;

// ========================================

.hr {
  margin: 5px 0;
  height: 0;
  width: 100%;
  border-top: 1px solid #c7c7c7;
}

.text-base {
  font-size: 15px;
  font-family: sans-serif;
  color: $text-color;
}

.important-text {
  color: $text-impotant;
  font-weight: 500;
}




